body {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.3;
}

header {
  max-width: 70ch;
  margin: auto;
  margin-bottom: 0;
  padding: 2ch;
  padding-bottom: 0;
  text-align: center;

  img {
    max-width: 5rem;
    border-radius: 50%;
  }
}

main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

img {
  max-width: 100%;
}

section.title {
  text-align: center;
}

section.posts {
  li {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    .title {
      display: inline;
      margin-right: .5rem;
    }

    .date {
      display: inline;
      flex-shrink: 0;
    }
  }
}
